.chatArea {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    min-width: 0;
}

.chatBody {
    flex: 1;
    display: flex;
    flex-direction: row;
    min-height: 0;
}

.chatMain {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-width: 0;
    position: relative;
}

.scrollBtn {
    position: absolute;
    bottom: 80px;
    right: 24px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 1px solid var(--border);
    background: var(--bg-secondary);
    color: var(--text);
    font-size: 18px;
    cursor: pointer;
    opacity: 0.7;
    z-index: 10;
}

.scrollBtn:hover {
    opacity: 1;
}
